@{
    ViewData["Title"] = "Login";
}

<div class="card">
    <h4 class="card-header">Log into your Twilite Account</h4>
    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping">Username</span>
            <input type="text" class="form-control" placeholder="Enter Your Username..." aria-label="Username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping">Password</span>
            <input type="password" class="form-control" placeholder="Enter Your Password..." aria-label="Password">
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="button-primary btn-md">Login</button>
        <button class="button-caution btn-md">Cancel</button>
        <div class="mt-2">
            <a class="link" href="Register">I dont have an account</text>
        </div>
    </div>
</div>