@* @model UserInfoModel

@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <div class="card">
        <h4 class="card-header text-center">Login to your Twilite Account</h4>
        <div class="card-body">
            <div class="p-1 mb-1">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control mt-1 ms-2" placeholder="Enter Your Username..." aria-label="Username">
            </div>
            <div class="p-1 mb-1">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control mt-1 ms-2" placeholder="Enter Your Password..." aria-label="Password">
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="button-primary btn-md">Login</button>
            <button type="reset" class="button-caution btn-md">Cancel</button>
            <div class="mt-2">
                <a class="link" href="Register">I dont have an account</text></a>
            </div>
        </div>
    </div>
</form>

<div class="my-3">
        <h4 class="text-center">or</h4>
</div>

<div>
    <div>
        <h4 class="text-center">Login using the following services</h4>
    <div class="py-3 text-center">
        <div>
            <a href="https://accounts.google.com" target="_blank"><img class="me-3 external-icons" src="~/Images/google-logo.png"/></a>
            <a href="https://twitter.com/i/flow/login" target="_blank"><img class="me-3 external-icons" src="~/Images/twitter-logo.png"/></a>
            <a href="https://auth.meta.com" target="_blank"><img class="me-3 external-icons" src="~/Images/meta-logo.png"/></a>
            <a href="https://login.live.com" target="_blank"><img class="me-3 external-icons" src="~/Images/microsoft-logo.png"/></a>
            <a href="https://www.github.com" target="_blank"><img class="me-3 external-icons" src="~/Images/github-logo.png"/></a>
            <a href="https://www.gitlab.com/users/sign_in" target="_blank"><img class="external-icons" src="~/Images/gitlab-logo.png"/></a>
        </div>
    </div>
</div>


<script src="~/js/login.js"></script>

*@