@{
    ViewData["Title"] = "Register";
}

<div class="card">
    <h4 class="card-header text-center">Register for a New Twilite Account</h4>
    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping">E-Mail</span>
            <input type="email" class="form-control" placeholder="Enter Your E-Mail ID..." aria-label="EMail">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping">Username</span>
            <input type="text" class="form-control" placeholder="Enter a Username..." aria-label="Username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping">Password</span>
            <input type="password" class="form-control" placeholder="Enter a Strong Password..." aria-label="Password">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="addon-wrapping">Re-enter Password</span>
            <input type="password" class="form-control" placeholder="Enter a Strong Password..." aria-label="Password">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Country</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Select Your Country...</option>
                <option value="1">India</option>
                <option value="2">United States of America</option>
                <option value="3">Canada</option>
                <option value="1">Germany</option>
            </select>
            </div>
    </div>
    <div class="card-footer text-center">
        <button class="button-primary btn-md">Register</button>
        <button class="button-caution btn-md">Cancel</button>
        <div class="link mt-2">
            <a class="link" href="Login">I already have an account</text></a>
        </div>
    </div>
</div>

<div class="my-3">
        <h4 class="text-center">or</h4>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="text-center">Register using the following services</h4>
    </div>
    <div class="card-body text-center">
        <a href="https://accounts.google.com" target="_blank"><img class="my-2 me-3" src="~/Images/google-logo.png" width="64"/></a>
        <a href="https://twitter.com/i/flow/login" target="_blank"><img class="my-2 me-3" src="~/Images/twitter-logo.png" width="64"/></a>
        <a href="https://auth.meta.com" target="_blank"><img class="my-2 me-3" src="~/Images/meta-logo.png" width="64"/></a>
        <a href="https://login.live.com" target="_blank"><img class="my-2 me-3" src="~/Images/microsoft-logo.png" width="64"/></a>
        <a href="https://www.github.com" target="_blank"><img class="my-2 me-3" src="~/Images/github-logo.png" width="64"/></a>
        <a href="https://www.gitlab.com/users/sign_in" target="_blank"><img class="my-2" src="~/Images/gitlab-logo.png" width="64"/></a>
    </div>
</div>