@model UserInfoModel

@{
    ViewData["Title"] = "Register";
}

<form method="post">
    <div class="card">
        <h4 class="card-header text-center">Register for a New Twilite Account</h4>

        <div class="card-body">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-1 p-1">
                <label asp-for="Email">E-Mail ID &#10035;</label>
                <input asp-for="Email" id="enterEmail" type="email" class="form-control mt-1" placeholder="Enter Your E-Mail ID..." aria-label="EMail">
            </div>

            <div class="mb-1 p-1">
                <label asp-for="UserName">User Name &#10035;</label>
                <input asp-for="UserName" id="enterUserName" type="text" class="form-control mt-1" placeholder="Maximum of 24 characters" aria-label="Username">
            </div>

            <div class="mb-1 p-1 row">
                <span class="col-6">
                    <div>
                        <label>Password &#10035;</label>
                        <input asp-for="Password" id="enterPassword" type="password" class="form-control mt-1 float-start" placeholder="Min - 8 and Max - 24 characters" aria-label="Password" aria-describedby="password-field">
                    </div>
                </span>
            
                <span class="col-6">
                    <div>
                        <label>Re-enter Password &#10035;</label>
                        <input type="password" id="reEnterPassword" class="form-control mt-1" placeholder="Re-enter the same password" aria-label="Password" maxlength="24">
                        <span id="rePasswordMessage" class="rePasswordMessage"></span>
                    </div>
                </span>
            </div>

            <div class="mb-1 p-1">
                <label asp-for="Country">Country</label>
                <select asp-for="Country"class="form-select mt-1" id="inputGroupSelect01">
                    <option selected>Select Your Country...</option>
                    <option value="1">India</option>
                    <option value="2">United States of America</option>
                    <option value="3">Canada</option>
                    <option value="1">Germany</option>
                </select>
            </div>

        </div>

        <div class="card-footer text-center">
            <button id="registerButton" type="submit" class="button-primary btn-md">Register</button>
            <button class="button-caution btn-md" type="reset">Cancel</button>
            <div class="link mt-2">
                <a class="link" href="Login">I already have an account</text></a>
            </div>
        </div>
    </div>
</form>

<div class="my-3">
        <h4 class="text-center">or</h4>
</div>

    <div>
        <h4 class="text-center">Register using the following services</h4>
    </div>
    <div class="py-3 text-center">
        <div>
            <a href="https://accounts.google.com" target="_blank"><img class="me-3 external-icons" src="~/Images/google-logo.png"/></a>
            <a href="https://twitter.com/i/flow/login" target="_blank"><img class="me-3 external-icons" src="~/Images/twitter-logo.png"/></a>
            <a href="https://auth.meta.com" target="_blank"><img class="me-3 external-icons" src="~/Images/meta-logo.png"/></a>
            <a href="https://login.live.com" target="_blank"><img class="me-3 external-icons" src="~/Images/microsoft-logo.png"/></a>
            <a href="https://www.github.com" target="_blank"><img class="me-3 external-icons" src="~/Images/github-logo.png"/></a>
            <a href="https://www.gitlab.com/users/sign_in" target="_blank"><img class="external-icons" src="~/Images/gitlab-logo.png"/></a>
        </div>
    </div>

</div>

<script src="~/js/register.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}