<form method="post">
    <div class="card">
        <div class="mx-3 my-3">
            <textarea class="form-control" id="create-post-area" rows="3" placeholder="Express your opinions here..." maxlength="450"></textarea>
        </div>

        <div class="create-btn-div card-footer text-center">
            <button class="button-primary" type="submit">Post</button>
            <button class="button-caution" type="reset">Cancel</button>
        </div>
    </div>
</form>