<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Twilite</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Twilite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/cropperjs/dist/cropper.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/twilite.png" alt="Twilite" width="34" height="34"/><span class="ms-2">Twilite</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Actions" asp-action="Explore">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Actions" asp-action="Notifications">Notifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Actions" asp-action="Messages">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Actions" asp-action="Communities">Communities</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-2">
                        
                        <li class="nav-item">
                            <partial name="_ThemeSwitcher"/>
                        </li>

                        @*Divider*@
                        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                            <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
                            <hr class="d-lg-none my-1" />
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer">
        <div class="container text-start">
            &copy; 2023 - Twilite
        </div>
    </footer>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js">
        // Fallback to loading jQuery from a local path if the CDN is unavailable
        (window.jQuery || document.write('<script src="~/lib/jquery/dist/jquery.min.js"><\/script>'));
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Notifications.js"></script>
    <script src="~/lib/cropperjs/dist/cropper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ThemeSwitcher.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
