@model PostInfoModel

<div class="container">
    <div class="toolbar">
        <div class="head">
            <input asp-for="PostContent" type="text" placeholder="Express your opinions here..."/>
        </div>
    </div>
</div>

<script src="RichEditor.cshtml.css"></script>