@model PostInfoModel

@{
    ViewData ["Title"] = "Create Post";
}

<h1 class="text-center display-4">@ViewData["Title"] <span class="text-primary">&#x40;@User.Identity.Name</span></h1>

<form class="row justify-content-center">
    <div class="card border-0">

        
        <textarea asp-for="PostContent" id="post-area" hidden></textarea>
        <partial name="_RichEditor" />
        
        <div class="text-end mb-2">
            <button id="post-button" class="btn btn-primary" type="button">Post</button>
        </div>
    
    </div>
</form>

<script src="~/js/Post.js"></script>
<script>
    button = document.getElementById("post-button");
    @* document.addEventListener("DOMContentLoaded", function() {
        postArea.innerHTML = hiddenPostArea.innerText;
    }); *@

    button.addEventListener("click", function() {
        createPost(currentUserName, postArea.innerHTML);
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
