@model PostInfoModel

@{
    ViewData["Title"] = "Delete Post";
}

<h1 class="text-danger text-center display-4">Delete Post</h1>
<form method="post" class="row justify-content-center">
    <div class="card border-0">
        
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <div class="my-2">
            <h5 class="text-primary">&#x40;@Model.UserName</h5>
            <textarea asp-for="PostContent" id="post-area" hidden></textarea>
            <partial name="_RichEditor" />
        </div>

        <div class="text-end mb-2">
            <button id="delete-button" class="btn btn-danger" type="submit" asp-route-UserName="@Model.UserName" asp-route-PostId="@Model.PostId">Delete</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        postArea.innerHTML = hiddenPostArea.innerText;
    });
    postArea.setAttribute("disabled", "true");
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}