@model PostInfoModel

@{
    ViewData["Title"] = "Edit Post";
}

<h1>Edit Post</h1>
<form method="post" class="row justify-content-center">
    <div class="card border-0">
        
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <div class="my-2">
            <h5 class="text-primary">&#x40;@Model.UserName</h5>
            <textarea asp-for="PostContent" class="form-control" id="create-post-area" rows="3" maxlength="450"></textarea>
        </div>

        <div class="text-end mb-2">
            <button id="bs-override" class="btn-primary" type="submit" asp-route-UserName="@Model.UserName" asp-route-PostId="@Model.PostId">Update</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
