@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="card p-2 mb-3">
                <label class="form-label text-center">Upload User Avatar</label>
                <div class="card-body">
                    @await Component.InvokeAsync("UserAvatarCrop")
                </div>
                <input type="file" id="upload-area" class="form-control" accept=".png,.jpg,.jpeg" name="profilePicture" placeholder="Please select your avatar image." />
                <span id="error-area" class="mt-2 mx-1 text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            
            <button id="save-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

<script src="~/lib/cropperjs/dist/cropper.min.js"></script>
<script src="~/js/ManageUserProfile.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
