@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Twilite</h1>
    <p>Twilite is a <a href="https://www.x.com">X.com</a>-like ASP dotnet web application.</p>
</div>
