@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Twilite</h1>
</div>

<p>
    <br/>
    <button class="create-button">Create a New Post</button>
</p>