@{
    ViewData["Title"] = "Twilite";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Twilite</h1>
    <p>Twilite is a clone of <a href="https://www.x.com">X.com</a> (Previously known as Twitter).</p>
</div>
