@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Twilite@* ,UserName*@</h1>
</div>

<div class="card">
    <div class="mx-3 my-3">
        <label for="create-post-area" class="form-label fs-5 ms-1">Create a New Post</label>
        <textarea class="form-control" id="create-post-area" rows="3" placeholder="Express your opinions here..."></textarea>
    </div>

    <div class="create-btn-div card-footer text-center">
        <button class="button-primary">Post</button>
        <button class="button-caution">Cancel</button>
    </div>
</div>