@{
    IEnumerable<PostInfoModel> PostInfoObj = ViewData["PostInfoObj"] as IEnumerable<PostInfoModel>;
}

<script>
    var postIdArr = [];
</script>

@foreach(var obj in PostInfoObj) {
    
    <div class="card col-sm-11 mx-2 my-1">
        <div class="card-body pb-2">
            
            @await Component.InvokeAsync("UserActions", obj)
            <br/><hr/>

            <p class="card-text">@Html.Raw(obj.PostContent)</p>

        </div>
    </div>

    <script>
        postIdArr.push(@obj.PostId);
    </script>
}

<script src="~/js/LikePost.js" type="text/javascript"></script>
