@model IEnumerable<PostInfoModel>

@foreach(var obj in Model) {
    <div class="card col-md-5 mx-2 my-2">
        <div class="card-body">

            <h5 class="card-title text-primary">
                <div class=" card-title float-start">&#x40;@obj.UserName</div>
            </h5>


            <p class="card-subtitle mb-2 text-muted">
                <h6 class="float-end">Post ID: @obj.PostId</h6>
                <br/><hr/>
            </p>

            <p class="card-text">@obj.PostContent</p>
            @if(User.Identity.IsAuthenticated && User.Identity.Name == obj.UserName) {
                <a asp-controller="Post" asp-action="EditPost" asp-route-PostId="@obj.PostId" class="float-end link">Edit</a>
            }

        </div>
    </div>
}
