@model IEnumerable<PostInfoModel>

@foreach(var obj in Model) {
    <div class="card col-md-5 mx-2 my-2">
        <div class="card-body">

            <h5 class="card-title text-primary">
                <div class=" card-title float-start">
                    <span class="dropdown">
                        <a class="btn btn-outline-primary border-0 dropdown-toggle px-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            &#x40;@obj.UserName
                        </a>
                        <ul class="dropdown-menu">
                            @if(User.Identity.IsAuthenticated && User.Identity.Name == obj.UserName) {
                                <li><a asp-controller="Post" asp-action="EditPost" asp-route-PostId="@obj.PostId" class="dropdown-item text-primary">Edit</a></li>
                                <li><a asp-controller="Post" asp-action="DeletePost" asp-route-PostId="@obj.PostId" class="dropdown-item text-danger">Delete</a></li>
                            }
                            <li><a class="dropdown-item" href="#">Follow</a></li>
                        </ul>
                    </span>
                </div>
            </h5>

            <br/><hr/>

            <p class="card-text">@obj.PostContent</p>

        </div>
    </div>
}
