@{
    IEnumerable<PostInfoModel> PostInfoObj = ViewData["PostInfoObj"] as IEnumerable<PostInfoModel>;
}

@foreach(var obj in PostInfoObj) {
    
    <div class="card col-md-5 mx-2 my-2">
        <div class="card-body">
            
            @await Component.InvokeAsync("UserActions", obj)
            <br/><hr/>

            <p class="card-text">@obj.PostContent</p>

        </div>
    </div>
}

<script src="~/js/LikePost.js"></script>