@model IEnumerable<PostInfoModel>

@foreach(var obj in Model) {
    <div class="card mb-2">
        <div class="card-header">
            <span class="float-start">&#x40;@obj.UserName</span><span class="float-end">Post ID: @obj.PostId </span>
        </div>
        <div class="card-body mx-2">
            @obj.PostContent
        </div>
    </div>
}