@{
    UserProfileModel CurrentUserProfile = ViewData["CurrentUserProfile"] as UserProfileModel;
}

<div class="img-container">
    <img id="image-preview" src="@CurrentUserProfile.UserAvatarLocation" />
</div>