:root{
  --accent-color: #6da7ff;
  --main-color: #0d6efd;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--main-color);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.form-control:hover {
  border-color: var(--accent-color);
}

.text-area {
  border-color: var(--accent-color);
  color: var(--accent-color);
  border-style: solid;
  border-radius: 3px;
  width: 100%;
  transition: color 200ms, border-color 200ms;
}

.text-area:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.text-area:focus {
  color: var(--main-color);
  outline: none;
  border-width: 2px;
  border-color: var(--main-color);
}

.input-area {
  border-color: rgb(165, 219, 244);
  color: rgb(165, 219, 244);
  border-style: solid;
  border-radius: 3px;
  width: 100%;
  transition: color 200ms, border-color 200ms;
}

.input-area:hover {
  color:rgb( 3, 169, 244);
  border-color: rgb( 3, 169, 244);
}

.input-area:focus {
  color: rgb(0, 117, 172);
  outline: none;
  border-width: 2px;
  border-color: rgb( 3, 169, 244);
}

/* #bs-override.btn-primary {
  border-width: 2px;
  border-style: solid;
  border-color: #0d6efd;
  border-radius: 3px;
  padding: 8px 8px 8px 8px;
  color: #0d6efd;
  font-weight: bold;
  background-color: rgb( 255, 255, 255);
  transition: background-color 200ms, color 200ms, opacity 200ms;
}

#bs-override.btn-primary:hover {
  background-color: #0d6efd;
  color: rgb( 255, 255, 255);
}

#bs-override.btn-primary:active {
  opacity: 0.7;
}

#bs-override.btn-danger {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(220, 53, 69);
  border-radius: 3px;
  padding: 8px 8px 8px 8px;
  color: rgb(220, 53, 69);
  font-weight: bold;
  background-color: rgb( 255, 255, 255);
  transition: background-color 200ms, color 200ms, opacity 100ms;
}

#bs-override.btn-danger:hover {
  background-color: rgb(220, 53, 69);
  color: rgb( 255, 255, 255);
}

#bs-override.btn-danger:active {
  opacity: 0.7;
} */

.link {
  text-decoration: none;
  color: #2a7fff;
  transition: color 150ms, font-weight 150ms, text-decoration 150ms;
}

.link:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #0d6efd;
  color: #0d6efd;
  font-weight: bold;
}

.link:active {
  opacity: 0.8;
}

.link-danger {
  text-decoration: none;
  color: rgb(220, 53, 69);
  transition: color 150ms, font-weight 150ms, text-decoration 150ms;
}

.link-danger:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(220, 53, 69);
  color: rgb(220, 53, 69);
  font-weight: bold;
}

.link-danger:active {
  opacity: 0.8;
}

.external-icons {
  width: 32px;
  transition: width 150ms;
}

.external-icons:hover {
  width: 48px;
}