@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Explore";
    IEnumerable<PostInfoModel> Posts = ViewData["Posts"] as IEnumerable<PostInfoModel>;
}

<div class="text-center">
    @{
        if(SignInManager.IsSignedIn(User)) {
            <div class="display-4 mb-4">Recent Posts</div>
        }
        else {
            <h1 class="display-4 mb-4">Explore Twilite</h1>
        }
    }
    
</div>

<div class="container-fluid">
    <div id="posts-area" class="row justify-content-center">
        @await Component.InvokeAsync("Posts", Posts)
    </div>
</div>