@{
    ReplyInfoModel Reply = ViewBag.Reply;
    if(ViewBag.PostId != null) {
        int PostId = ViewBag.PostId;
    }
}

<div class="card my-2 p-2">
                        
    <div class="card-title">
        &#x40;@Reply.UserName
        
        <span class="float-end pe-2">
            @if(!Reply.Likes.Contains(User.Identity.Name)) {
                <i class="bi bi-heart me-1" id="reply-like-button" title="Like Reply"></i>
            }
            else {
                <i class="bi bi-heart-fill me-2" id="reply-like-button" title="Remove Like"></i>
            }
            <span id="reply-likes-count" class="me-3">@Reply.Likes.Count()</span>

            <span class="dropdown">
                <i class="bi bi-share" id="share-reply" title="Share the Reply" data-bs-toggle="dropdown" aria-expanded="false"></i>

                <div class="dropdown-menu dropdown-menu-end" id="share-reply-dropdown">
                    <div class="input-group my-2 px-2">
                        <input class="form-control" type="text" id="share-reply-field" aria-label="Share Link" aria-describedby="share-copy-button" />
                        <button class="btn btn-outline-primary" type="button" id="share-reply-copy-button" title="Copy to Clipboard"><i class="bi bi-clipboard"></i></button>
                    </div>
                </div>

            </span>
            
        </span>
    </div>

    <div class="card-body border-top px-2 pt-2 pb-0">
        @Html.Raw(Reply.ReplyContent)
    </div>

</div>